<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-segment [(ngModel)]="selectedView">
    <ion-segment-button value="asistencias">
      <ion-label>Historial</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registro">
      <ion-label>Registrar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'asistencias'" class="ion-padding">
      <ion-list *ngFor="let asistencia of asistencias">
        <ion-item>
          {{asistencia.carrera}} - {{asistencia.ramo}} - {{asistencia.fecha}}:{{asistencia.hora}}
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'registro'" class="ion-padding">

      <ion-card *ngIf="address">
        <ion-card-content>
          <ion-row>
            <ion-text>Posicion desde donde te registraste:</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Latitud: {{lat}} - Longitud: {{long}}</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Direccion: {{address}}</ion-text>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-button expand="full" (click)="scanCode()" color="secondary">
        <ion-text> Escanear codigo QR</ion-text>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>

      <ion-card *ngIf="scannedQr">
        <ion-card-content>
          Resultado del Escaner: {{scannedQr.text}}
        </ion-card-content>
      </ion-card>
    </div>


  </div>

</ion-content>
