<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-segment [(ngModel)]="selectedView" value="registro">
    <ion-segment-button value="asistencias">
      <ion-label>Historial</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registro">
      <ion-label>Registrar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'asistencias'">
      <ion-list *ngFor="let asistencia of asistencias">
        <ion-item>
          {{asistencia.carrera}} - {{asistencia.ramo}} - {{asistencia.fecha}}:{{asistencia.hora}}
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'registro'">
      <ion-item lines="full">
        <ion-label position="floating">Carrera</ion-label>
        <ion-input type="text" required [(ngModel)]="registroAsistencia.carrera"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Ramo</ion-label>
        <ion-input type="text" required [(ngModel)]="registroAsistencia.ramo"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Semestre</ion-label>
        <ion-input type="text" required [(ngModel)]="registroAsistencia.semestre"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="addAsistencia()">Registrar asistencia
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>

</ion-content>
