<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="user.usuario" type="email" required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button (click)="ingresar()" color="danger" expand="block">Recuperar</ion-button>
    </ion-col>
  </ion-row>

  <small>
    Porfavor ingresa el nombre de usuario de tu cuenta.
  </small>
</ion-content>
