<ion-header>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <img alt="logo" height="40" src="assets/Logo_DuocUC.svg" padding>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-header></ion-header>
<ion-content fullscreen="true" [ngClass]="'blogcontainer'">
  <ion-item lines="full">
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="user.usuario" type="text"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="user.password" type="password"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="ingresar()">
        Ingresar
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="danger" expand="block" [routerLink]="['/password-reset']">
        Reestablecer contraseña
      </ion-button>
    </ion-col>

  </ion-row>

  <ion-card align-content="center">
    <ion-row>
      <ion-title class="ion-text-center">{{ today | date: 'medium' }}</ion-title>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{datosNumbersApi.text}} - Year: {{datosNumbersApi.year}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
