<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-align-items-center]="true">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Abrir Cámara</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Registrar asistencia</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
